* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 8px;
  padding: 8px 16px;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms ease;
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
